@import "variables"
@import "bourbon"
@import "font-awesome-sprockets"
@import "font-awesome"
@import "bootstrap"


body
  background: white

@media(max-width: 768px)
  #middle
    width: 0px !important

#middle
  height: 113px
  width: 0px
  opacity: 0
  +transition(all 0.2s)
  // -webkit-transition: width 0.2s
  // -moz-transition: width 0.2s
  // -ms-transition: width 0.2s
  // -o-transition: width 0.2s
  // transition: width 0.2s

.logo-block
  a
    display: block
  h1
    background: none
    display: inline-block
    float: left
    text-indent: -99999px
    width: auto
    height: auto

  &:hover #middle
    opacity: 1
    width: 269px
    +transition(width 0.4s)
    // -webkit-transition: width 0.4s
    // -moz-transition: width 0.4s
    // -ms-transition: width 0.4s
    // -o-transition: width 0.4s
    // transition: width 0.4s

.rounded
  border-radius: 0.4rem

.main-container
  @extend .py-4
  @extend .px-4
  background: image-url('background.jpg')
  box-shadow: 1px 1px 7px 0px rgba(0, 0, 0, 0.14), 0 1px 2px 0 rgba(0, 0, 0, 0.12), -1px -1px 7px 0px rgba(0, 0, 0, 0.12)